<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086520654455-r9ncot1vno73urvdk3ntabp29uj86b7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086520654455-r9ncot1vno73urvdk3ntabp29uj86b7e</string>
	<key>API_KEY</key>
	<string>AIzaSyCdRxRI2jF1lX4Y8aj-WhXNgkb6OzODJzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1086520654455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>starkov.iChatApp</string>
	<key>PROJECT_ID</key>
	<string>ichat-60706</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-60706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086520654455:ios:cae9c4239327d97816e472</string>
</dict>
</plist>